<table>
  <caption>
    Tasks
  </caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Completion</th>
      <th scope="col">Priority</th>
      <th scope="col">Due Date</th>
    </tr>
  </thead>
  <tbody>
    {% for task in db_data %}
    <tr>
        <td>{{task.name}}</td>
        <td>{{task.description}}</td>
        <td>{{task.completion}}</td>
        <td>{{task.priority}}</td>
        <td>{{task.duedate}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
