<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: #ffffff;
      }
    </style>
    <title>Device Config Portal</title>
  </head>
  <body>
    <h1>Device Config Portal</h1>
    <p>Wi-Fi configuration</p>
    <form action="/config" method="post" target="response">
      <label for="ssid">SSID:</label>
      <input type="text" id="ssid" name="ssid"><br><br>
      <label for="pswd">Password:</label>
      <input type="password" id="pswd" name="pswd"><br><br>
      <input type="submit" value="Submit">
    </form>
    <iframe name="response" style="border:none;"></iframe>
  </body>
</html>
